@page "/getintouch"
<div class="text-center border my-5 rounded shadow p-5">
    <div class="display-6">Contact</div>
     <div class="lead">

        <i class="fa fa-phone text-primary my-3"></i>
        <p>
            ALO 120 UZAN Bilgi Ve Destek Hattı
        </p>

        <i class="fa fa-map-marker text-primary my-3"></i>
        <p>
            Bilgi Teknolojileri ve İletişim Kurumu Kars Yolu
            36.Km No:1994 Posta Kodu:036036 Kartal/İstanbul
        </p>

         <i class="fa fa-envelope text-primary my-3"></i> 
         <p>
            kadircan_uzan@gmail.com
         </p>

     </div>   
    
</div>
